@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid text-center">
    <h1 class="display-2 text-light">Welcome to Code Whisperer AI -  Your Personal Coding Mentor</h1>
    <img src="https://i.imgur.com/Qgyswem.png" />
    <h2 class="display-5 text-light">Experience coding excellence with Code Whisperer AI, your personal guide to skill refinement and code perfection. Designed for both beginners and experts, our AI-powered tool offers insightful analysis for impactful coding enhancements. Quiet in its approach but powerful in impact, Code Whisperer AI ensures your code's quality and performance shine.</h2>
</div>
