@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid text-center">
    <h1 class="display-2 text-light">
        Welcome to Code Whisperer AI - Your Personal Coding Mentor
    </h1>

    <h2 class="display-5 text-light">
        <a href="/Analysis">Get Started Now, Click Here!</a>
    </h2>

    <img src="https://i.imgur.com/Qgyswem.png" />
    <h2 class="display-5 text-light">Your personal guide to skill refinement and code perfection. Designed for both beginners and experts, our AI-powered tool offers insightful analysis for impactful coding enhancements. <b>Analyze Carefully as you only have three analysis per week.</b> Powered by Open AIs ChatGPT API. <b>Frontend and backend developed by Joe Centeno</b></h2>
</div>
