@model CodeSnippetAnalysisViewModel

@{
    ViewData["Title"] = "Code Analysis";
}

<div class="container-fluid">
    <div class="row">
        <!-- Input Area -->
        <div class="col-md-6">
            <form asp-controller="Analysis" asp-action="AnalyzeCodeSnippet" method="post">
                <textarea asp-for="CodeSnippet.CodeInputted" class="form-control" id="codeInput" rows="40" cols="40"></textarea>
                <button type="submit" class="btn btn-primary">Analyze</button>
            </form>
        </div>

        <!-- Results Area -->
        <div class="col-md-6">
            @if (Model.ChatCompletion != null && Model.ChatCompletion.Choices.Count > 1)
            {
                // Start the loop from index 1 to skip the original message
                for (int i = 1; i < Model.ChatCompletion.Choices.Count; i++)
                {
                    var choice = Model.ChatCompletion.Choices[i];
                    <div id="divCodeOutput"><pre id="codeOutput">@choice.Message.Content</pre></div>
                }
            }
        </div>
    </div>
</div>