#codeInput {
    font-family: monospace;
    width: 600px; /* Adjust as needed */
    height: 700px; /* Adjust as needed */
    resize: none; /* Optional: prevents resizing */
}

#codeOutput {
    font-family: monospace;
    overflow: auto; /* Adds a scrollbar if the content overflows */
    width: 800px; /* Should match the calculated width of the textarea */
    height: 300px; /* Should match the calculated height of the textarea */
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}