#codeInput {
    font-family: monospace;
    width: 600px; 
    height: 700px; 
    resize: none;
}

#codeOutput {
    font-family: monospace;
    overflow: auto; 
    width: 800px; 
    height: 300px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}